<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.business.mapper.BArtificerInfoMapper">

    <resultMap type="BArtificerInfo" id="BArtificerInfoResult">
        <result property="artificerId"    column="artificer_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="artificerFullName"    column="artificer_full_name"    />
        <result property="artificerName"    column="artificer_name"    />
        <result property="artificerLevel"    column="artificer_level"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="sex"    column="sex"    />
        <result property="salary"    column="salary"    />
        <result property="entryTime"    column="entry_time"    />
        <result property="speciality"    column="speciality"    />
        <result property="isBell"    column="is_bell"    />
        <result property="orderNum"    column="order_num"    />
        <result property="bellNum"    column="bell_num"    />
        <result property="isLeave"    column="is_leave"    />
        <result property="remark"    column="remark"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyName"    column="modify_name"    />
        <result property="modifyTime"    column="modify_time"    />
    </resultMap>

    <sql id="selectBArtificerInfoVo">
        select artificer_id, dept_id, dept_name, artificer_full_name, artificer_name, artificer_level, phone_number,
               sex, salary, entry_time, speciality, is_bell, order_num, bell_num, is_leave,remark, create_name,
               create_time, modify_name, modify_time
        from b_artificer_info
    </sql>

    <select id="selectBArtificerInfoList" parameterType="BArtificerInfo" resultMap="BArtificerInfoResult">
        <include refid="selectBArtificerInfoVo"/>
        <where>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
            <if test="artificerFullName != null  and artificerFullName != ''"> and artificer_full_name like concat('%', #{artificerFullName}, '%')</if>
            <if test="artificerName != null  and artificerName != ''"> and artificer_name like concat('%', #{artificerName}, '%')</if>
            <if test="artificerLevel != null  and artificerLevel != ''"> and artificer_level = #{artificerLevel}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="salary != null "> and salary = #{salary}</if>
            <if test="entryTime != null "> and entry_time = #{entryTime}</if>
            <if test="speciality != null  and speciality != ''"> and speciality = #{speciality}</if>
            <if test="isBell != null  and isBell != ''"> and is_bell = #{isBell}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="bellNum != null "> and bell_num = #{bellNum}</if>
            <if test="isLeave != null  and isLeave != ''"> and is_leave = #{isLeave}</if>
            <if test="createName != null  and createName != ''"> and create_name like concat('%', #{createName}, '%')</if>
            <if test="modifyName != null  and modifyName != ''"> and modify_name like concat('%', #{modifyName}, '%')</if>
            <if test="modifyTime != null "> and modify_time = #{modifyTime}</if>
        </where>
        order by order_num
    </select>

    <select id="selectBArtificerInfoByArtificerId" parameterType="Long" resultMap="BArtificerInfoResult">
        <include refid="selectBArtificerInfoVo"/>
        where artificer_id = #{artificerId}
    </select>

    <insert id="insertBArtificerInfo" parameterType="BArtificerInfo" useGeneratedKeys="true" keyProperty="artificerId">
        insert into b_artificer_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="artificerFullName != null">artificer_full_name,</if>
            <if test="artificerName != null">artificer_name,</if>
            <if test="artificerLevel != null">artificer_level,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="sex != null">sex,</if>
            <if test="salary != null">salary,</if>
            <if test="entryTime != null">entry_time,</if>
            <if test="speciality != null">speciality,</if>
            <if test="isBell != null">is_bell,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="bellNum != null">bell_num,</if>
            <if test="isLeave != null">is_leave,</if>
            <if test="remark != null">remark,</if>
            <if test="createName != null">create_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="modifyName != null">modify_name,</if>
            <if test="modifyTime != null">modify_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="artificerFullName != null">#{artificerFullName},</if>
            <if test="artificerName != null">#{artificerName},</if>
            <if test="artificerLevel != null">#{artificerLevel},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="sex != null">#{sex},</if>
            <if test="salary != null">#{salary},</if>
            <if test="entryTime != null">#{entryTime},</if>
            <if test="speciality != null">#{speciality},</if>
            <if test="isBell != null">#{isBell},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="bellNum != null">#{bellNum},</if>
            <if test="isLeave != null">#{isLeave},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="modifyName != null">#{modifyName},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
        </trim>
    </insert>

    <update id="updateBArtificerInfo" parameterType="BArtificerInfo">
        update b_artificer_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="artificerFullName != null">artificer_full_name = #{artificerFullName},</if>
            <if test="artificerName != null">artificer_name = #{artificerName},</if>
            <if test="artificerLevel != null">artificer_level = #{artificerLevel},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="entryTime != null">entry_time = #{entryTime},</if>
            <if test="speciality != null">speciality = #{speciality},</if>
            <if test="isBell != null">is_bell = #{isBell},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="bellNum != null">bell_num = #{bellNum},</if>
            <if test="isLeave != null">is_leave = #{isLeave},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="modifyName != null">modify_name = #{modifyName},</if>
            <if test="modifyTime != null">modify_time = #{modifyTime},</if>
        </trim>
        where artificer_id = #{artificerId}
    </update>

    <delete id="deleteBArtificerInfoByArtificerId" parameterType="Long">
        delete from b_artificer_info where artificer_id = #{artificerId}
    </delete>

    <delete id="deleteBArtificerInfoByArtificerIds" parameterType="String">
        delete from b_artificer_info where artificer_id in
        <foreach item="artificerId" collection="array" open="(" separator="," close=")">
            #{artificerId}
        </foreach>
    </delete>
    <!--首页 查询技师排钟列表及技师排序-->
    <select id="getArtificerPaiZhongList" parameterType="BArtificerInfo" resultMap="BArtificerInfoResult">
        SELECT
            artificer_id,
            artificer_name,
            order_num,
            is_leave,
            (SELECT COUNT(order_id) FROM b_order_info WHERE artificer_id = bai.artificer_id AND order_state != 0 AND date_format(create_time,'%y%m%d') = date_format(NOW(),'%y%m%d') AND bell_type = '1') bell_num
        FROM
            b_artificer_info bai
        ORDER BY
            order_num
    </select>

    <!--批量修改技师排钟信息-->
    <update id="saveArtificerPaiZhongByList">
        <foreach collection="list" separator=";" item="item">
            UPDATE  b_artificer_info
            <trim prefix="SET" suffixOverrides=",">
                <if test="item.orderNum != null">order_num = #{item.orderNum},</if>
                <if test="item.isLeave != null and item.isLeave != ''">is_leave = #{item.isLeave},</if>
            </trim>
            WHERE artificer_id = #{item.artificerId}
        </foreach>
    </update>



</mapper>